.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    /* background: linear-gradient(to right, #bd3636, #c20e0e) !important; */
    background: linear-gradient(43deg, #000000 9%, #ff0000 52%, #000000 75%) !important;
    color: #fff !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #0d0d0d !important;
    /* background-color: #2e3450 !important; */
    color: #fff !important;
}
.navListIcons{
    color: #fff;
}
.navListItem:hover{
    /* background-color: #941d1d !important; */
    background-color: #000000 !important;
}