.App {
  /* text-align: center; */
  background-color: #fff;
  font-family: Arial !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spacer {
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.fw-600 {
  font-weight: 900 !important;
}

.MuiDataGrid-toolbarContainer .MuiButtonBase-root {
  color: black !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: 16.5px;
}
.fa {
  cursor: pointer;
}

.commonDataGrid .css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: #dc3545;
  color: #fff;
  height: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
}

.custom .MuiButton-containedPrimary {
  background-color: black !important;
}

.custom .MuiButton-outlinedPrimary {
  color: black !important;
  border: 1px solid black !important;
}

.fs-7 {
  font-size: 0.9rem;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: solid black 1px !important;
}

.MuiSnackbarContent-root {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid black;
  font-size: 1rem !important;
}

.MuiSnackbarContent-action {
  margin: -64px 0px 0px 40px !important;
}

.MuiSnackbarContent-action .MuiButtonBase-root {
  margin-left: 15px !important;
}

/* .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  padding-right: 8px !important;
} */

.css-r6ewbb-MuiToolbar-root {
  min-height: 55px !important;
}

/* Styles for wrapping the search box */

.searchArea {
  /* width: 50%; */
  margin-top: 5vh;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 3rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3.3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.uploadContent {
  border: 2px dashed gray;
  border-radius: 5px;
  width: 45vw;
}

.underline {
  text-decoration: underline !important;
  text-decoration-color: whitesmoke !important;
}
